* Volle Höhe für App */ html,
body,
ion-app,
ion-content,
ion-page {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Hintergrund & Zentrierung */
.login-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  height: 100%;
  padding: 1rem;
  background: linear-gradient(to bottom, #e0fdfc, #ffffff);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Zentrierter Wrapper */
.login-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 360px;
  margin: auto;
}

/* Logo */
.login-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

/* Login-Karte */
.login-card {
  background: white;
  padding: 2rem;
  border-radius: 25px;
  width: 100%;
  max-width: 320px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.login-input ion-input {
  color: black;
  text-align: center; /* hier mittig */
}

/* Eingabefelder */
ion-item.login-input {
  --background: white;
  --border-radius: 25px;
  --inner-border-radius: 25px;
  --padding-start: 12px;
  --padding-end: 12px;
  --highlight-color-focused: #5dd4c8;
  border: 1px solid #ccc;
  margin-bottom: 1rem;
  height: 48px;
  align-items: center;
  border-radius: 25px;
  overflow: hidden;
}

/* Eingabetext */
ion-input {
  font-size: 16px;
}

.login-input ion-input {
  color: black;
}

/* Login-Button */
.login-button {
  --background: #75cdc8;
  --color: white;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 1rem;
  text-transform: none;
}

/* Link unten */
.signup-link {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: #555;
}

.signup-link a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

.profile-container {
  padding: 1rem;
  margin-top: 3rem;
}

.welcome-text {
  text-align: left;
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.profile-box {
  background: white;
  border-radius: 25px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.buttonsave {
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
